.row
  .col-md-12
    %h2 Template *index* Page

    %hr

    .well
      %h3 Template Creation

      = form_for @template do |f|
        .form-horizontal
          .form-group
            .col-sm-3.control-label
              = f.label :txt_file, "Folder"
              = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
            .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
          .form-group
            .col-sm-3.control-label
              = f.label :destination, "Wiki Domain"
              = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
            .col-sm-3
              = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
          .form-group
            .col-sm-offset-2.col-sm-10= submit_tag "Create Template Pages", :class => "btn btn-primary"
    .well
      %h3 Volume Creation
    .well
      %h3 Text Uploading
    .well
      %h3 PDF Uploading
    .well
      %h3 Image Uploading

:javascript
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });