.row
  .col-md-12
    %h2 Tsadra Wycki-baat

    %hr

    %ul.nav.nav-tabs
      %li.active{ role: "presentation" }
        = link_to "Templates", "#templates", { "aria-controls": "templates", role: "tab", "data-toggle": "tab" }
      %li{ role: "presentation" }
        = link_to "Volumes", "#volumes", { "aria-controls": "volumes", role: "tab", "data-toggle": "tab" }
      %li{ role: "presentation" }
        = link_to "Texts", "#texts", { "aria-controls": "texts", role: "tab", "data-toggle": "tab" }
      %li{ role: "presentation" }
        = link_to "Folios", "#folios", { "aria-controls": "texts", role: "tab", "data-toggle": "tab" }
      %li{ role: "presentation" }
        = link_to "Images", "#images", { "aria-controls": "texts", role: "tab", "data-toggle": "tab" }

    %hr

    .tab-content
      .tab-pane.active#templates{ role: "tabpanel" }
        .well
          %h3 Template Creation
          = link_to '/templates', templates_path
          = form_for @template, url: wiki_bots_path, namespace: 'TEMPLATE' do |f|
            .form-horizontal
              = f.hidden_field :txt_file, value: 'TEMPLATE'
              .form-group
                .col-sm-3.control-label
                  = f.label :txt_file, "Folder"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
              .form-group
                .col-sm-3.control-label
                  = f.label :destination, "Wiki Domain"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-3
                  = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
              .form-group
                .col-sm-offset-2.col-sm-10= submit_tag "Create Template Pages", :class => "btn btn-primary"
      .tab-pane#volumes{ role: "tabpanel" }
        .well
          %h3 Volume Creation
          = link_to '/volumes', volumes_path
          = form_for @volume do |f|
            .form-horizontal
              .form-group
                .col-sm-3.control-label
                  = f.label :txt_file, "Folder"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
              .form-group
                .col-sm-3.control-label
                  = f.label :destination, "Wiki Domain"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-3
                  = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
              .form-group
                .col-sm-offset-2.col-sm-10= submit_tag "Create Volume Pages", :class => "btn btn-primary"
      .tab-pane#texts{ role: "tabpanel" }
        .well
          %h3 Text Creation
          = link_to '/texts', texts_path
          = form_for @text do |f|
            .form-horizontal
              .form-group
                .col-sm-3.control-label
                  = f.label :txt_file, "Folder"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
              .form-group
                .col-sm-3.control-label
                  = f.label :destination, "Wiki Domain"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-3
                  = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
              .form-group
                .col-sm-offset-2.col-sm-10= submit_tag "Create Text Pages", :class => "btn btn-primary"
      .tab-pane#folios{ role: "tabpanel" }
        .well
          %h3 Folio Uploads
          = link_to '/folio', folios_path
          = form_for @folio do |f|
            .form-horizontal
              .form-group
                .col-sm-3.control-label
                  = f.label :txt_file, "Folder"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
              .form-group
                .col-sm-3.control-label
                  = f.label :destination, "Wiki Domain"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-3
                  = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
              .form-group
                .col-sm-offset-2.col-sm-10= submit_tag "Create Folio Pages", :class => "btn btn-primary"
      .tab-pane#images{ role: "tabpanel" }
        .well
          %h3 Image Uploads
          = link_to '/images', images_path
          = form_for @image do |f|
            .form-horizontal
              .form-group
                .col-sm-3.control-label
                  = f.label :txt_file, "Folder"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: folder_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-7= f.file_field :txt_file, name: "text_files[]", mozdirectory: "", webkitdirectory: "", directory: ""
              .form-group
                .col-sm-3.control-label
                  = f.label :destination, "Wiki Domain"
                  = link_to "#", { "data-toggle" => "tooltip", "data-placement": "top", title: wiki_url_info } do
                    %span.glyphicon.glyphicon-info-sign{ "aria-hidden" => "true" }
                .col-sm-3
                  = f.text_field :destination, :class => "form-control", placeholder: "terdzod.tsadra.org"
              .form-group
                .col-sm-offset-2.col-sm-10= submit_tag "Create Image Pages", :class => "btn btn-primary"
