= form_for @pdf, html: { id: 'pdfUploadForm', :class => 'directupload', multipart: true, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f|
  .form-horizontal
    = f.hidden_field :type, value: 'pdfs'
    .form-group
      .col-sm-5.control-label
        = f.label :collection_name, "Collection Name"
        = link_to "#", { "data-toggle": "tooltip", "data-placement": "top", title: collection_info } do
          %span.glyphicon.glyphicon-info-sign{ "aria-hidden": "true" }
      .col-sm-6
        = f.text_field :collection_name, :class => "form-control", placeholder: "Terdzod, Sakya, etc."
    .form-group
      .col-sm-5.control-label
        = f.label :destination, "Destination Wiki"
        = link_to "#", { "data-toggle": "tooltip", "data-placement": "top", title: wiki_url_info } do
          %span.glyphicon.glyphicon-info-sign{ "aria-hidden": "true" }
      .col-sm-6
        = f.text_field :destination, :class => "form-control", placeholder: "librarywiki, terdzod, etc."
    .form-group
      .col-sm-5.control-label
        = f.label :pdf_file, "File Directory"
        = link_to "#", { "data-toggle": "tooltip", "data-placement": "top", title: directory_info } do
          %span.glyphicon.glyphicon-info-sign{ "aria-hidden": "true" }
      .col-sm-6
        = f.file_field :pdf_file, name: "pdf_files[]", multiple: true, mozdirectory: "", webkitdirectory: "", directory: ""
    .form-group
      .col-sm-offset-1.col-sm-10
        .text-center
          %br
          = submit_tag "Upload PDFs", :class => "btn btn-primary"
