.row
  .col-md-12
    %h2 Tsadra Wycki-baat
    #progress-alert

    %hr

    .row
      .col-md-7
        %ul.nav.nav-tabs
          %li.active{ role: "presentation" }
            = link_to "Templates", "#templates", { "aria-controls": "templates", role: "tab", "data-toggle": "tab" }
          %li{ role: "presentation" }
            = link_to "Volumes & Texts", "#volume-texts", { "aria-controls": "volume-texts", role: "tab", "data-toggle": "tab" }
          %li{ role: "presentation" }
            = link_to "PDFs", "#pdfs", { "aria-controls": "pdf_originals", role: "tab", "data-toggle": "tab" }
          %li{ role: "presentation" }
            = link_to "Images", "#images", { "aria-controls": "images", role: "tab", "data-toggle": "tab" }

        %br

        .tab-content
          .tab-pane#templates.active{ role: "tabpanel" }
            .well
              .text-center
                %h3= "Template Uploading"
              %br
              = render partial: "template_upload_form"
          .tab-pane#volume-texts{ role: "tabpanel" }
            .well
              .text-center
                %h3= "Volume & Text Uploading"
              %br
              = render partial: "volume_text_upload_form"
          .tab-pane#pdfs{ role: "tabpanel" }
            .well
              .text-center
                %h3= "PDF Uploading"
              %br
              = render partial: "pdf_upload_form"
          .tab-pane#images{ role: "tabpanel" }
            .well
              .text-center
                %h3= "Image Uploading"
              %br
              = render partial: "image_upload_form"

        %br

        #upload-progress

      .col-md-5
        = render 'shared/flash'
        #upload-alerts

%br
%br

