<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @text.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @text.destination %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
