<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folio.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @folio.destination %>
</p>

<%= link_to 'Edit', edit_folio_path(@folio) %> |
<%= link_to 'Back', folios_path %>
